#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.annotation-base {
  display: inline;
  position: relative;
  padding: 1px;
  background-color: yellow !important;
}

.fragment-middle {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  margin-left: -2px;
  margin-right: -2px;
}

.fragment-left {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  margin-right: -2px;
}

.fragment-right {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  margin-left: -2px;
}

.annotation-normal {
  border: 2px solid #000000 !important;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  z-index: 10;
}

.breadcrumb {
  background-color: #0d6efd;
  overflow: hidden;
}
.breadcrumb li {
  position: relative;
  height: 2rem;
  line-height: 2rem;
  padding-left: 1.2rem !important;
  padding-right: 0.6rem;
  color: white !important;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}
.breadcrumb li a {
  height: 2rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.breadcrumb li:before {
  display: none;
}
.breadcrumb li:after {
  position: absolute;
  right: -1.7rem;
  top: 0;
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-left: 1rem solid blue;
}
.breadcrumb li:first-child {
  background-color: #0262ef;
  z-index: 20;
  padding-left: 0.85rem !important;
}
.breadcrumb li:first-child:after {
  border-left: 12px solid #0262ef;
}
.breadcrumb li:nth-child(2) {
  background-color: #0259da;
  z-index: 19;
}
.breadcrumb li:nth-child(2):after {
  border-left: 12px solid #0259da;
}
.breadcrumb li:nth-child(3) {
  background-color: #0251c6;
  z-index: 18;
}
.breadcrumb li:nth-child(3):after {
  border-left: 12px solid #0251c6;
}
.breadcrumb li:nth-child(4) {
  background-color: #0149b2;
  z-index: 17;
}
.breadcrumb li:nth-child(4):after {
  border-left: 12px solid #0149b2;
}
.breadcrumb li:nth-child(5) {
  background-color: #01409e;
  z-index: 16;
}
.breadcrumb li:nth-child(5):after {
  border-left: 12px solid #01409e;
}
.breadcrumb li:nth-child(6) {
  background-color: #013889;
  z-index: 15;
}
.breadcrumb li:nth-child(6):after {
  border-left: 12px solid #013889;
}
.breadcrumb li:hover {
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
}
.breadcrumb.breadcrumb-responsive {
  flex-wrap: nowrap !important;
  overflow-x: scroll;
}
.breadcrumb.breadcrumb-responsive li,
.breadcrumb.breadcrumb-responsive li a {
  white-space: nowrap !important;
}
